<h1>Add a New Shoe Brand</h1>

<form action="/brands" method="post">
  <div>
    <label for="name">Brand Name:</label>
    <input type="text" name="name" id="name">
  </div>

  <button type="submit">Create</button>
</form>
