<div class="row center">
  <h1>Brands</h1>

  <div class="collection">
    <% @brands.each() do |brand| %>
      <a class="collection-item amber-text" href="/brands/<%= brand.id() %>"><%= brand.name() %></a>
    <% end %>
  </div>

  <a class="btn-large teal darken-1" href="/brands/new">Add a Shoe Brand</a>
</div>
