<div class="row center">
  <h1>Shoe Stores</h1>

  <div class="collection">
    <% @stores.each() do |store| %>
    <a class="collection-item amber-text" href="/stores/<%= store.id() %>"><%= store.name() %></a>
    <% end %>
  </div>

  <a class="btn-large teal darken-2" href="/stores/new">Add a Shoe Store</a>
</div>
